// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-cod-gray: #0c0c0c;
$color-nero: #1E1E1E;
$color-conifer: #A3D563;
$color-cornflower-blue: #507CFF;

$color-white-90: rgba(255, 255, 255, 0.9);
$color-white-60: rgba(255, 255, 255, 0.6);

// Typography
$ff-jet: "JetBrain", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Anim
$tr-300: 0.3s ease-in;
$tr-500: 0.5s ease-in;
$tr-1000: 0.5s ease-in;
