.loader {
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $color-cod-gray;
  border: 2px solid $color-white;
  border-top: 30px solid $color-white;
  padding: 20px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in;

  &--active {
    opacity: 1;
    pointer-events: all;
  }

  &__path {
    position: absolute;
    left: 5px;
    top: -25px;
    font-size: 16px;
    line-height: 20px;
    color: $color-cod-gray;
  }

  &__icon-wrapper {
    display: flex;
    gap: 20px;
    position: absolute;
    top: -24px;
    right: 10px;
    align-items: flex-end;
  }

  &__collapse {
    width: 20px;
    height: 15px;
    border-bottom: 2px solid $color-cod-gray;
  }

  &__fullscreen {
    width: 20px;
    height: 15px;
    border: 2px solid $color-cod-gray;
  }

  &__close {
    width: 20px;
    height: 2px;
    background-color: $color-cod-gray;
    transform: translateY(-6px) rotate(45deg);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $color-cod-gray;
      transform: rotate(-90deg);
    }
  }

  &__console-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__console-item {
    color: $color-white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    span {
      font-weight: 500;
      animation: textFadeIn 0.1s linear 0s forwards;
      opacity: 0;
    }
  }

  &__console-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    color: $color-white;
    opacity: 1;

    animation: blinking 0.8s linear 0.2s infinite;

    &::placeholder {
      color: $color-white;
    }

    &:focus-visible {
      animation: none;
    }
  }
}
